@model List<PRJ_ProjectMemberModel>

@{
    ViewBag.Title = "Project Member List";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title m-0">Project Member</h3>
        <a href="@Url.Action("AddEdit", "ProjectMember")" class="btn btn-primary">+ Add ProjectMember</a>
    </div>

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>User Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProjectName</td>
                        <td>@item.FullName</td>
                        <td>
                            <a href="@Url.Action("AddEdit", "ProjectMember", new { id = item.ProjectMemberId })" class="btn btn-sm btn-warning">Edit</a>
                            <a href="@Url.Action("DeleteProjectMember", "ProjectMember", new { id = item.ProjectMemberId })" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
